<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="../static/styles.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@500;600&display=swap" />
</head>

<body>
    <div class="page">
        <!-- <img class="fgj-1-icon" alt="" src="../static/bg.jpg"  style="z-index: -1; "/> -->

        <header class="main-frame">
            <div class="child-frame">
                <div class="vector-frame">
                    <img class="text-node-icon" loading="eager" alt="" src="../static/logo.jpeg" />
                </div>
                <div class="factfinder">FactFinder</div>
            </div>
            <div class="home-frame">
                <a class="home" href="/home" style="color: black;">
                    Home
                </a>
                <a class="factchecker" href="/factchecker">
                    FactChecker
                </a>
            </div>
        </header>
        <div class="Wrapper" style="display: flex;flex-direction: column; gap: 40; justify-content: center; align-items: center;"> 
            <a href="/factchecker">
                <img src="../static/new.jpeg" alt="" style="  box-shadow: 0 0 23.4px 0 rgba(0, 0, 0, 0.11); width: 378px; height: auto; border-radius: 27px; cursor: pointer;" >
            </a>
            <div class="welcome-frame">
                <div class="welcome-to-factfinder">Welcome to FactFinder</div>
                <div class="your-ultimate-fake-container">
                    <span>Your Ultimate</span>
                    <span class="span"> </span>
                    <span class="fake-news">Fake News </span>
                    <span>Detection Hub</span>
                </div>
                <div class="in-a-world-where-misinformatio-parent">
                    <div class="in-a-world">
                        In a world where misinformation spreads like wildfire, discerning
                        fact from fiction has never been more crucial.
                    </div>
                    <button class="button-frame">
                        <a class="get-started-for" href="/factchecker">Get Started for Free</a>
                    </button>
                </div>
            </div>
        </div>
        </div>
    <div class="demo-container" style="display: flex; flex-direction: column; justify-content: center; align-items: center; gap: 60px; font-family: Inter; top: -4rem;">
        <img src="../static/demo1.png" alt="" style="margin-top: -2rem; width: 853.55px; height: 497px;" >
        <h5 style="width: 895px; text-align: center; text-wrap: wrap; font-size: larger; font-weight: lighter; margin-top: -2rem; margin-bottom: 80px;">
             <span style="color: #3A80F9;">FactFinder</span> is a cutting-edge solution designed to combat fake news. With high credibility, it helps users verify the authenticity of information. Its intuitive interface ensures ease of use for individuals, media outlets, and social media platforms seeking reliable news sources.
        </H5>
    </div> 
    <div class="footer">
        <div class="footer-part1">
            <h1>
                Help Us Improve by giving your Feedback 
            </h1>
            <h3>Your Feedback helps us develop even more, write to us to let us know</h3>
            <div class="button-frame">
                Write Us
            </div>
        </div>
        <div class="footer-part2">
            <img class="footer-logo" src="../static/logo.jpeg" alt="">
            <h3>
                FactFinder
            </h3>
            <h4>
                HackaNova Hackathon, Thakur College, Kandivali
16th Feb 2024
            </h4>
        </div>

    </div>
</body>

</html>